
@import 'normalize.scss';
@import 'flexboxGrid.scss';
@import './styles/variables.scss';
@import './styles/extendVariables.scss';
@import './styles/header.scss';
@import './styles/hamburger.scss';

.section-title {
  @extend %pirmary-font-medium;
  font-size: 33px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

div {
  font-family: $secondary-font;
}
// set default style 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: initial;
  text-decoration: none;
}
// Shared Class
.img-bg-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
}
.bg-img {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.full-width {
  width: 100%;
}
.bg-primary-grey {
  background-color: $primary-grey;
}

.main-body-container {
  max-width: $max-width-size;
  margin: auto;
}
.link-btn {
  height: 51px;
  width: 300px;
  font-size: 1.5rem;
}
.link-btn-project {
  height: 51px;
  width: 300px;
  font-size: 1.5rem;
}

// home page classes
.home-hero {
  max-height: 702px; 
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.white-line-separator {
  height: 1px;
  background: white;
}

%arrow-link-button {
  @extend %flex-center-vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: white;
  }
}
%profile-project-inner {
  @extend %flex-center;
  height: calc(100% - 64px);
  margin: 32px;
  border: 1px solid #ecbc2b;
  font-size: 1.5rem;
  font-family: $secondary-font;

  flex-direction: column;
  > div {
    padding: 2rem;
    text-align: center;
  }
}

.main-body-container {
  position: relative;
  img {
    display: block;
  }
  .profile-image {
    width: 100%;
    height: auto;
  }
  .full-width {
    > div {
      width: 100%;
      height: 100%;
    }
  }
  .link-btn, .link-btn-project {
    cursor: pointer;
    &:hover {
      
    }
  }
  .profile-box-inner {
    @extend %profile-project-inner;
    @extend %pirmary-font-light;
    .link-btn {
      @extend %arrow-link-button;
      @extend %pirmary-font-light;
      background: $primary-yellow;
      margin-top: 4rem;
      letter-spacing: 2px;
    }
   
  }
  .profile-box, .project-box {
    height: 100%;
  
  }
  .project-box-inner {
    @extend %profile-project-inner;
    @extend %pirmary-font-light;
    color: white;
    border: 1px solid white;
    .link-btn-project {
      @extend %arrow-link-button;
      @extend %pirmary-font-light;
      margin-top: 4rem;
      background: $primary-light-blue;
      letter-spacing: 2px;
    }
  }
}

.review-container {
  margin: 4rem 0 0 0;

  font-family: $secondary-font;
  line-height: 1.5rem;
}
.review {
  @extend %secondary-font-light;
  font-size: 16px;
  font-height: 25px;
}
.review-writer {
  font-weight: bold;
  color: $primary-yellow;
  float:right;
  margin-top: 2rem;
}
.review-block {
  margin: 0.5rem 0;
}

.testi-contact-container {
  width: 100%;
  height: 260px;
  background-color: $primary-blue;
  
  margin-top: 76px;
}
.testi-contact-container-inner {
  border: 1px solid white;
  padding: 32px;
  height: 100%;
  > div {
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid white;
  }
}
.white-line {
  height: 1px;
  width: 100%;
  background: white;
}

.testimonial-link-container, .white-line-container, .contact-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    font-family: $primary-font;
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 300;
    &:hover {
      .arrow {
        transform: translateX(3px);
        transition: transform 0.25s;
      }
    }
  }
  .arrow {
    transition: transform 0.25s;
  }
}


// Footer

.footer {
 
  padding-top: 2.5rem;
  .menu-header-container {
    .menu {
      padding: 0 0.5rem;
      flex-direction: column;
    }
    .menu-item {
      padding: 0 0 0.25rem 0;
      font-weight: 400;
      letter-spacing: 2px;
    }
    a {
      font-weight: 500;
      font-size: 0.9rem;
      color: black;
    }
  }
}
.footer-office {
  font-weight: 400;
  margin: 1rem 0rem;
  font-size: 1.4rem;
  font-family: $primary-font;
  letter-spacing: 2px;
}
.address {
  margin-top: 0.25rem;
  > div {
    font-size: 0.9rem;
    font-family: $secondary-font;
    line-height: 1.3rem;
  }
}
.reserve {
  text-align: center;
  font-family: $primary-font;
  color: $primary-dark-grey;
  margin-bottom: 60px;
  font-size: 0.9rem;
}

// Testimonial page 

.title-box {
  @extend %flex-center-vh;
  width: 635px;
  height: 190px;
  padding-bottom: 2rem;
  position: relative;
  background-color: white;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
}
.title-box-inner {
  @extend %flex-center-vh;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 25px;
  border: 1px solid $primary-light-blue;
  height: 100%;

  text-transform: uppercase;

}
.title-box-sub {
  letter-spacing: 3px;
  color: $primary-light-blue;
  font-size: 33px;
  font-family: $primary-font;
  font-weight: 500;
  text-align: center;
  margin: 0.25rem 0;
}
.title-box-title {
  letter-spacing: 14px;
  font-size: 66px;
  font-weight: bold;
  font-family: $primary-font;
}

.testimonial-container {
  max-width: $max-content-width;
  margin: 1rem auto;
}
.testimonial {
  width: 100%;
  margin-bottom: 1rem;
  .content {
    font-size: 20px;
    font-family: $secondary-font;
    font-weight: 300;
  }
}
.testimonial-writer {
  text-align: right;
  margin-top:  20px;
  font-weight: bold;
  font-size: 1.1rem;
}
.featured-in-container {
  
  .white-line {
    background: $primary-yellow;
  }
}
.featured-in {
  color: $primary-yellow;
  letter-spacing: 12px;
  font-family: $primary-font;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.4rem;
}
// #Project

.project-block {
  margin: 0 auto 70px auto;
  max-width: 886px;
  .project-block-image-container {
    position: relative;
    height: 335px;
    width: 440px;
  }
  .project-block-contents {
    width: calc(100% - 440px);
  }
}
.project-block-inner {
  padding: 80px 0 0 100px;
  .title {
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 3px;
  }
}
.project-detail-container {
  margin-top: 40px;
  div {
    @extend %pirmary-font-light;
    font-size: 25px;
    padding: 0.25rem 0;
  }
}


// Contact page 
.contact-page {
  margin: 0 auto;
  max-width: $max-content-width;
  margin-top: -2rem;
}
.address-container {
  margin-bottom: 40px;
  div {
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 25px;
  }
}
.contact-heading {
  @extend %pirmary-font-medium;
  font-size: 25px;
  & + span{
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 25px;
   
  }
}
.location-block {
  margin-bottom: 40px;
}
.contact-inputs {
  input, textarea {
    width: calc(100% - 1rem);
    height: 34px;
    margin-bottom: 25px;
    padding: 0 0.5rem;
    border: 1px solid $primary-light-blue;
    resize: none;
  }
  textarea {
    padding-top: 0.5rem;
    height: 130px;
  }
  .send-button {
    @extend %flex-center;
    @extend %pirmary-font-light;
    border: 0;
    background-color: $primary-light-blue;
    padding: 0.25rem 1.3rem;
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
  }
  .send-button-container {
    display: flex;
    justify-content: flex-end;
    
  }
}
// Profile page
.profile-bg-section {
  height: 525px;
  position: relative;
}
.profile-text {
  @extend %secondary-font-light;
  font-size: $large-content-font-size;
  line-height: 33px;
  margin: 70px 0;
}
.profile-page-container {
  margin-top: -7rem;
}
.bg-text {
  @extend %pirmary-font-medium;
  font-size: 33px;
  position: absolute;
  color: white;
  top: 50%; 
  width: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
}

.large-screen-header {

}
.small-screen-header {

}
@media screen and (min-width: 1400px) {
  .home-hero {
    img {
      transform: translateY(-7vw);
    }
  }
}

@media (max-width: 1035px) and (min-width: 900px) {
  .profile-image {
    min-height:380px;
    height: 100% !important;
  }
}
@media screen and (max-width: 63.9em) {
  .testimonial-container {
    padding: 0 0.5rem;
  }
  // #Project
  .project-block {
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem 0;;
    .project-block-image-container {
      position: relative;
      height: 335px;
      width: 100%;
    }
    .project-block-inner {
      padding: 0;
    }
    .project-block-contents {
      width: 100%;
    }
  }

}

@media (max-width:  900px) and (min-width: 47.9em) {
  .large-screen-header {
    display: inherit;
  }
  .small-screen-header {
    display: none;
  }
  .main-body-container {
    .profile-image {
      height:340px !important;
    
    }
    .profile-project-col {
      height: 340px !important;
    }
    .link-btn, .link-btn-project {
      height: 48px;
      width: 240px;
      margin-top: 2rem !important;
      a {
        font-size: 1.3rem;
      }
    }
    .profile-box-inner, .project-box-inner {
      font-size: 1.3rem;
    }
  }

  
}

@media screen and (max-width: 47.9em) {
  .large-screen-header {
    display: none;
  }
  .small-screen-header {
    display: inherit;
  }
  .main-body-container {
    padding: 0;
    .full-width {
      > div {
        width: 100%;
        height: auto;
      }
    }
    .link-btn, .link-btn-project {
   
      width: 200px;
      a {
        font-size: 1.2rem;
      }
    }
    .project-box-inner, .profile-box-inner {
      font-size: 1.2rem;
    }
  }
  .review-container {
    padding: 0 2.5rem;
  }

  .reserve {
    text-align: left;
  }
}

@media screen and (max-width: 599px) {
  .testi-contact-container-inner {
    .white-line-container { display: none; }
    > div {
      > div {
        max-width: 100%;;
        flex-basis: 100%;
      }
    }
  }

}