
@import 'normalize.scss';
@import 'flexboxGrid.scss';
@import './styles/variables.scss';
@import './styles/extendVariables.scss';
@import './styles/header.scss';
@import './styles/footer.scss';
@import './styles/hamburger.scss';
@import './styles/hero.scss';

@import './styles/heroTextBox.scss';
@import './styles/projectBlock.scss';
@import './styles/pageBottomLinkBox.scss';
// pages
@import './styles/profilePage.scss';
@import './styles/contactPage.scss';


.section-title {
  @extend %pirmary-font-medium;
  font-size: 33px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

div {
  font-family: $secondary-font;
}
// set default style 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: initial;
  text-decoration: none;
}
// Shared Class
.img-bg-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
}
.bg-img {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.full-width {
  width: 100%;
}
.bg-primary-grey {
  background-color: $primary-grey;
}

.main-body-container {
  max-width: $max-width-size;
  margin: auto;
}
.link-btn {
  height: 51px;
  width: 300px;
  font-size: 1.5rem;
}
.link-btn-project {
  height: 51px;
  width: 300px;
  font-size: 1.5rem;
}


.white-line-separator {
  height: 1px;
  background: white;
}

%arrow-link-button {
  @extend %flex-center-vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: white;
  }
}
%profile-project-inner {
  @extend %flex-center;
  height: calc(100% - 64px);
  margin: 32px;
  border: 1px solid #ecbc2b;
  font-size: 1.5rem;
  font-family: $secondary-font;

  flex-direction: column;
  > div {
    padding: 2rem;
    text-align: center;
  }
}

.main-body-container {
  position: relative;
  img {
    display: block;
  }
  .profile-image {
    width: 100%;
    height: auto;
  }
  .full-width {
    > div {
      width: 100%;
      height: 100%;
    }
  }
  .link-btn, .link-btn-project {
    cursor: pointer;
    &:hover {
      
    }
  }
  .profile-box-inner {
    @extend %profile-project-inner;
    @extend %pirmary-font-light;
    .link-btn {
      @extend %arrow-link-button;
      @extend %pirmary-font-light;
      background: $primary-yellow;
      margin-top: 4rem;
      letter-spacing: 2px;
    }
   
  }
  .profile-box, .project-box {
    height: 100%;
  
  }
  .project-box-inner {
    @extend %profile-project-inner;
    @extend %pirmary-font-light;
    color: white;
    border: 1px solid white;
    .link-btn-project {
      @extend %arrow-link-button;
      @extend %pirmary-font-light;
      margin-top: 4rem;
      background: $primary-light-blue;
      letter-spacing: 2px;
    }
  }
}

.review-container {
  margin: 4rem 0 0 0;

  font-family: $secondary-font;
  line-height: 1.5rem;
}
.review {
  @extend %secondary-font-light;
  font-size: 16px;
  font-height: 25px;
}
.review-writer {
  font-weight: bold;
  color: $primary-yellow;
  float:right;
  margin-top: 2rem;
}
.review-block {
  margin: 0.5rem 0;
}

.testimonial-container {
  max-width: $max-content-width;
  margin: 1rem auto;
}
.testimonial {
  width: 100%;
  margin-bottom: 1rem;
  .content {
    font-size: 20px;
    font-family: $secondary-font;
    font-weight: 300;
  }
}
.testimonial-writer {
  text-align: right;
  margin-top:  20px;
  font-weight: bold;
  font-size: 1.1rem;
}
.featured-in-container {
  
  .white-line {
    background: $primary-yellow;
  }
}
.featured-in {
  color: $primary-yellow;
  letter-spacing: 12px;
  font-family: $primary-font;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.4rem;
}




.large-screen-header {

}
.small-screen-header {

}

@media screen and(min-width: 1440px) {
  .hero-image-container {
    max-height: 702px; 
  
    img {
      transform: translateY(-7vw);
    }
  }
}
@media screen and (max-width: 1035px) and (min-width: 900px) {
  .profile-image {
    min-height:380px;
    height: 100% !important;
  }
}

@media screen and (max-width: 63.9em) {
  .main-body-container {
    padding: 0 15px;
  }
  .testimonial-container {
    padding: 0 0.5rem;
  
  }
  .project-blocks-container {
    & .project-block:last-child {
      margin: 0;
    }
  }
  .project-blocks-container {
    align-items: center;
    flex-direction: column;
  }
  

}

@media (max-width:  900px) and (min-width: 47.9em) {
  .large-screen-header {
    display: inherit;
  }
  .small-screen-header {
    display: none;
  }
  .main-body-container {
    .profile-image {
      height:340px !important;
    
    }
    .profile-project-col {
      height: 340px !important;
    }
    .link-btn, .link-btn-project {
      height: 48px;
      width: 240px;
      margin-top: 2rem !important;
      a {
        font-size: 1.3rem;
      }
    }
    .profile-box-inner, .project-box-inner {
      font-size: 1.3rem;
    }
  }

  
}

@media screen and (max-width: 47.9em) {
  
  .large-screen-header {
    display: none;
  }
  .small-screen-header {
    display: inherit;
  }
  .main-body-container {
    padding: 0;
    .full-width {
      > div {
        width: 100%;
        height: auto;
      }
    }
    .link-btn, .link-btn-project {
   
      width: 200px;
      a {
        font-size: 1.2rem;
      }
    }
    .project-box-inner, .profile-box-inner {
      font-size: 1.2rem;
    }
  }
  .review-container {
    padding: 0 2.5rem;
  }

  .testimonial-container {
    padding: 0;
    max-width: 574px;
  }

  .home-hero-content-container {
    max-width: 630px;
    margin: 0 auto;
  }
  .hero-content {
    
    margin: 3rem 50px;
    display: inline-block;
    justify-content: center;
    flex-direction: column;
  }
  .years-upper-text {
    font-size: 44px;
    text-transform: uppercase;
    font-family: $primary-font;
    letter-spacing: 8px;

  }
  .years {
    font-size: 77px;
    font-family: $primary-font;
    font-weight: bold;
    letter-spacing: 10px;
  }
  .year-period {
    font-size: 33px;
  }

  .featured-in {
    text-align: center;
  }

  .featured-in-container {
    .white-line {
      display: none;
    }
  }
  .profile-project-col {
    .profile-box-inner {
      padding: 60px;
      height: auto;
      font-size: 25px;
      margin: 70px 50px;
      > div {
        padding: 0 70px;
        text-align: center;
      }
    }
  }
  .profile-project-col {
    .project-box-inner {
      padding: 60px;
      height: auto;
      font-size: 25px;
      margin: 70px 50px;
      > div {
        padding: 0 70px;
        text-align: center;
      }
    }
    .link-btn-project {
      width: 293px;
      height: 50px;
    }
    .link-btn-project a {
      font-size: 25px;
    }
  }
  .review-container {
    margin: 4rem auto 0 auto;
    max-width: 500px;
    padding: 0 15px;
  }
  
}

