$form-credit-mobile-size: 574px;
$mobile-body-width: 400px;

// Contact page 
.contact-page {
  margin: 0 auto;
  max-width: $max-content-width;
  margin-top: -2rem;
}
.address-container {
  margin-bottom: 40px;
  div {
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 25px;
  }
}
.contact-heading {
  @extend %pirmary-font-medium;
  font-size: 25px;
  & + span{
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 25px;
   
  }
}
.location-block {
  margin-bottom: 40px;
  a {
    color: $primary-light-blue;
  }
}
.contact-inputs {
  margin-top: 118px !important;
  input, textarea {
    width: calc(100% - 1rem);
    height: 34px;
    margin-bottom: 25px;
    padding: 0 0.5rem;
    border: 1px solid $primary-light-blue;
    resize: none;
  }
  input::placeholder,  textarea::placeholder {
    color: $primary-light-blue;
  }
 
  textarea {
    padding-top: 0.5rem;
    height: 130px;
  }
  .send-button {
    @extend %flex-center;
    @extend %pirmary-font-light;
    border: 0;
    background-color: $primary-light-blue;
    padding: 0.25rem 1.3rem;
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
  }
  .send-button-container {
    display: flex;
    justify-content: flex-end;
    
  }
}
.credit-container {
  padding: 0.5rem;
  margin-top: 80px;
}

.manager-contacts {
  margin-top: 60px;
}
.manager-contact {
  font-size: 25px;
  margin-bottom: 40px;
  .dash {
    padding: 0 0.5rem;
  }
  .manager-title {
    font-family: $primary-font;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .manager-contact-info {
    font-family: $secondary-font;
    font-weight: 300;
    letter-spacing: 2px;

    margin: 0.25rem 0 0 0;
  }
  .job-extention {
    display: flex;
  }
  a {
    color: $primary-light-blue;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: $large-screen-break) {
  .google-map {
    margin-right: 73px;
  }
  .location-block {
    flex-wrap: nowrap
  }
  .small-extension {
    display: none;
  }
  .large-extension {
    display: flex;
  }
}
@media screen and (max-width: $large-screen-break) {
  .google-map {
    width: 100%;
    margin-right: 0;
    margin-bottom :105px;
    img {
      @extend %responsive-image;
    }
  }
  .location-block {
    flex-wrap: wrap;
  }
  .contact-inputs {
    max-width: $form-credit-mobile-size;
    margin: 118px auto 0 auto !important;
    padding: 0 0.5rem;
  }
 
  .credit-container {
    max-width: $form-credit-mobile-size;
    margin: 0 auto;
    margin-top: 120px;
  }
  .location-block {
    max-width: $mobile-body-width;
    padding: 0 1rem;
    margin: auto !important;
  }
  .manager-contacts {
    max-width: $mobile-body-width;
    margin: 60px auto 0 auto;
  
  }
  .manager-contact {
    padding: 0 1rem;
  }
  .dash {
    display: none;
  }
  .small-extension {
    display: flex;
    font-family: $secondary-font;
    font-weight: 300;

  }
  .large-extension {
    display: none;
  }
  .job-extention {
    flex-wrap: wrap;
  }
}
@media (max-width: $small-screen-break) {

  .manager-title {
   
    letter-spacing: initial;
  }
  
  .manager-contact-info {
    letter-spacing: initial;
  }
}
@media screen and (max-width: 33.9em) {

  .credit-container, .contact-inputs {
    padding: 0 15px;
  }
}