
// Footer

.footer {

  // remove line-height
  margin-top: -5px;
  .menu-header-container {
    .menu {
      padding: 0 0.5rem;
      flex-direction: column;
    }
    .menu-item {
      padding: 0 0 0.25rem 0;
      font-weight: 400;
      letter-spacing: 2px;
    }
    a {
      font-weight: 500;
      font-size: 25px;
      color: black;
      letter-spacing: 4px;
      line-height: 36px;
    }
  }
}

.location {}
.footer-office {
  font-weight: 400;
  margin: 0 0 1rem 0;
  font-size: 25px;
  font-family: $primary-font;
  letter-spacing: 2px;
}
.address {
  margin-top: 0.25rem;
  > div {
    @extend %secondary-font-light;
    font-size: 16px;
  
    line-height: 25px;
  }
}
.reserve {
  text-align: center;
  font-family: $primary-font;
  color: $primary-dark-grey; 
  margin-top: 45px;
  margin-bottom: 60px;
  @extend %secondary-font-light;
}
.footer-menu {
  padding: 0;
}
.logos-container {
  @extend %flex-center;
  > div, a {
    padding: 0 0.5rem;
  }
  svg {
    fill: $primary-yellow;
    width: 41px;
    height: 41px;
  }
  // instagram icon has some padding
  .instagram-svg svg {
    width: 47px;
    height:47px;
  }
}
@media screen and (min-width: 63.9em) {
  .logos-container {
    margin-top: 30px;
  }
}
@media screen and (max-width: 47.9em) {
  .location {
    order: 1;
    margin-bottom: 10px;
  }
  .footer-office {
    font-size: 20px;
    text-align: center;
    margin: -2px 0 0 0;
  }
  .footer-menu  {
    order: 2;
    margin-bottom: 10px;

  }
  .logos-container {
    order: 3;
    svg {
      fill: $primary-yellow;
      width: 25px;
      height: 25px;
    }
    // instagram icon has some padding
    .instagram-svg svg {
      width: 31px;
      height:31px;
    }
  }
  .reserve {
    order: 4;
    margin-top: 25px;
    font-size: 14px;
  }
  .footer {
    padding: 0 0 0 0 !important;
    .address {
      display: flex;
      flex-direction: column;
      align-items: center;
      > div {
        font-size: 14px;
        line-height: 25px;
      }
    }
    .menu-header-container {
      .menu {
        align-items: center;
      }
      a {
        font-size: 20px;
        color: black;
        line-height: 25px;
      }
    }
  }
  
}