.header {
  width: 100%;
  height: 124px;
  background:$primary-blue;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  .sub {
    font-size: 0.8rem;
    text-align: center;
  }
}

.menu {
  display: flex;
}
.menu-item {
  padding: 0.5rem;
  a {
    font-size: 23px;
    text-transform: uppercase;
    font-family: $primary-font;
    color: white;
  }
}

.header-inner-container {
  padding: 1rem;
  max-width: $max-width-size;
  margin: auto;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.hamburger-container {
  position: absolute;
  right: 1rem;
}
#mobile-menu-container {
  position: absolute;
  width: 100%;
  display: none;
  background-color: $primary-blue;
  z-index: 100;
  .menu {
    width: 100%;
    ul {
      
    }
    li {
      margin: 0.5rem 0;
      display: flex;
      justify-content: center;;
    }
    a {
      font-size: 30px;
      letter-spacing: 3px;
    }
  }
  .mobile-menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mobile-menu-footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 20%;
  }
}
#mobile-menu-container.is-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 124px;
 
}
@media screen and(min-width: $large-screen-break) {
  #hamburger {
    display: none;
  }
  .large-screen-menu {
    display: flex;
  }
  .small-screen-menu {
    display: none;
  }
  #mobile-menu-container {
    display: none !important;
  }
}

@media screen and(max-width: $large-screen-break) {
  .header-inner-container {
    justify-content: center;
    align-items: center;
  }
  .logos-container {
    margin: 0.5rem 0;
  }
  .large-screen-menu {
    display: none;
  }
  .small-screen-menu {
    display: flex;
  }
  .menu {
    flex-direction: column;
  }
  .logo-container {
    font-size: 1.1rem;
    font-weight: 500;

    .sub {
      font-size: 1rem;
      text-align: center;
    }
  }
  .mobile-menu-footer {
    .address > div {
      text-align: center;
      color: white;
    }
  }

}