// Profile page
#profile-page {
  .page-link-block {
    margin-top: 0;
  }
}

.profile-bg-section {
  height: 525px;
  position: relative;
  margin-bottom: 60px;
}
.profile-text {
  @extend %secondary-font-light;
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 55px 0;
}

.profile-page-container {
  margin: -20px auto 0 auto;
}
.profile-page-container-bottom {
  margin: 0 auto 0 auto;
  .profile-text {
    margin: 0;
  }
}
.bg-text {
  @extend %pirmary-font-medium;
  max-width: 534px;
  font-size: 30px;
  line-height: 50px;
  position: absolute;
  color: white;
  top: 50%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  text-transform: uppercase;
}
.profile {
  margin-bottom: 20px;
  padding: 10px 25px;
  border-left: 1px solid $primary-light-blue;
  div {
    font-size: 25px;
    line-height: 33px;
  }
  strong {
    @extend %pirmary-font-medium;
    font-size: 25px;

  }
}

@media screen and (max-width: 63.9em) {
  .profile-page-container {
    padding: 0 0.5rem;
     .profile-text {
      margin: 0 0 55px 0;
    }
  }
  .profile-page-container-bottom {
    .profile-text {
      margin: 0 0 55px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  .profile {
    margin-bottom: 90px;
    padding: 0 25px;
  }
}

@media screen and (max-width: 767px) {
  .profile-page-container {
    max-width: $max-content-width-sm;
    margin: -2rem auto 0 auto;
    padding: 0 15px;
  }
  .profile-page-container-bottom {
    margin: 0 auto 0 auto;
    max-width: $max-content-width-sm;
    padding: 0 15px;
    .profile-text {
      margin: 0 0 90px 0;
    }
  }
  .profile-bg-section {
    height: 363px;
    margin: 90px 0;
  }
  .profile-text {
    margin: 0 0 90px 0;

    font-size: 25px;
    line-height: 33px;
    &:last-child {
      margin: 0;
    }
  }
  
  .bg-text {
    max-width: 450px;
    width: 80%;
    line-height: 40px;
    letter-spacing: 2px;
  }
}
