// #Project

.project-block {
	margin: 0 auto 70px auto;
	max-width: 886px;
}

.project-block-image-container {
	position: relative;
	height: 335px;
	width: 440px;
}
.project-block-contents {
	width: calc(100% - 440px);
}
.project-block-inner {
	padding: 80px 0 0 100px;
	.title {
		@extend %pirmary-font-medium;
		text-transform: uppercase;
		font-size: 25px;
		margin-bottom: 40px;
		letter-spacing: 4px;
	}
}
.project-detail-container {
	margin-top: -5px;
	div {
		@extend %pirmary-font-light;
		font-size: 25px;
		padding: 0.25rem 0;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin-bottom: 10pxl;
	}
	.gallery-link {
		padding: 0 !important;
	}
}
.gallery-link {
	letter-spacing: 4px;
}

@media screen and (max-width: 63.9em) {
	// #Project
	.project-block {
		flex-direction: column;
		align-items: center;
		margin: 0 0 25px 0;
		max-width: 402px;
		min-width: 402px;
	}
	.project-block-image-container {
		position: relative;
		height: 335px;
		width: 100%;
	}
	.project-block-inner {
		padding: 0;
		.title {
			margin: 30px 0 30px 0;
			font-size: 20px;
		}
	}
	.project-detail-container {
		div {
			font-size: 20px;
		}
	}
	.project-block-contents {
		width: 100%;
	}
}

@media screen and (max-width: 33.9em) {
	.project-block {
		width: 100%;
		min-width: auto;
		margin: 0 0 60px 0;
		padding: 0 15px;
	}
	.project-block-inner {
		.title {
			margin: 1.5rem 0 1.25rem 0;
		}
	}
	.project-block-image-container {
		position: relative;
		height: 300px;
		width: 100%;
	}
}
