.testimonial-page {
  max-width: calc(718px + 30px);
  padding: 0 15px;
  margin: -2rem auto 0 auto;
}
.testimonial-container {
  max-width: 718px;
  &:last-child {
    margin-bottom: 60px;
  }

}
.testimonial {
  width: 100%;
  margin-bottom: 50px;
  margin-top: -5px;
  .content {
    font-size: 20px;
    font-family: $secondary-font;
    font-weight: 300;
    line-height: 24px;
  }
}
.testimonial-writer {
  @extend %pirmary-font-medium;
  text-align: right;
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
}
.featured-in-container {
  max-width: calc(718px);
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 70px;
  .white-line-container {
    width: calc(100% - 200px);
    margin-left: 25px;
  }
  .white-line {
    width: 100%;
    background: $primary-yellow;
  }
}
.featured-in {
  color: $primary-yellow;
  letter-spacing: 4px;
  font-family: $primary-font;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 25px;
}
.featured-link {
  max-width: calc(718px + 30px);
  padding: 0 15px;
  > div {
    margin-right: 40px;
    line-height: 33px;
    &:last-child {
      margin-right: 0;
    }
  }
  div {
    font-size: 25px;
    color: #cccccc;
    @extend %pirmary-font-light;
  }
}

@media screen and (max-width: 63.9em) {
  .testimonial-page {
    padding: 0 0.5rem;
  }

}

@media screen and (max-width: $small-screen-break) {
  .testimonial-page {
    padding: 0 20px;
    max-width: calc( 574px + 40px);
    .content {
      font-size: 16px;
      line-height: 20px;
    }
    .testimonial-writer {
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
    }
  }
  .featured-in-container {
    margin-bottom: 30px;
  }
  .featured-in-container .white-line-container {
    display: none;
  }
  .featured-in {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .featured-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > div {
      margin: 0 0 36px 0;
    }
    div {
      margin: 15px 0;
      font-size: 20px;
      text-align: center;
      line-height: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}