
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Lato', sans-serif;

// colors
$primary-blue: #253050;
$primary-light-blue: #75b7fa;
$primary-yellow: #ecbc2b;
$primary-grey: #a7acb9;
$primary-dark-grey: #878787;

// sizes
$max-width-size: 1070px;
$max-content-width: 718px;
$large-content-font-size: 25px;

$max-content-width-sm: 574px; 
// break point

$small-screen-break: 767px;
$large-screen-break: 63.9em;